<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl7erKa5uwexd27O-pG8Xz2sXKl2VK5pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>481997250408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dynamicTest</string>
	<key>PROJECT_ID</key>
	<string>test-d1f34</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d1f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481997250408:ios:0852d269d3d43b89ac40dd</string>
</dict>
</plist>